@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "tailwindcss";/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  --background: #ffffff;
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 0.3s;
  }
  @keyframes fade-in {
    from { opacity: 0; transform: translateY(-10px);}
    to   { opacity: 1; transform: translateY(0);}
  }
}